
#boton-yes {
  background-color: green;
  position: absolute;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#boton-no {
  background-color: red;
  position: absolute;
  right: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
}
